<div class="row sponsor-main">
  <div class="medium-8 small-12 columns">
    {{#if series.results_url}}
      <h4>Current Series Standings: <a href="{{ series.results_url }}" target="_blank">Results</a></h4>
    {{/if}}
      <h4>Awards Winners By Category: <a href="/uploads/awards.xls" target="_blank">Final Results</a></h4>
    {{{ series.content }}}
    <img src="{{ series.image_url }}" alt="Glass" class="show-for-small-only" />
  </div>
  <div class="medium-3 small-12 columns right-sponsors">
    <img src="{{ series.image_url }}" alt="Glass" class="show-for-medium" />
    <h3>Sponsors</h3>
    <hr/>
    {{#each sponsors}}
      <a href="{{ link_url }}" target="_blank" class="side-sponsor">
        <img class="sponsor-thumbnail" src="{{ image_url }}"/>
      </a>
    {{/each}}
  </div>
</div>
